BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
ColumnLimit: 120
NamespaceIndentation: None
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
IndentCaseLabels: true
UseTab: Never
AccessModifierOffset: -4
